@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio practico 01 DSE</h1>
    <p>DA202312</p>

    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="@Url.Action("Index", "Autores")">Ver Autores</a>

        <a class="btn btn-secondary" href="@Url.Action("Index", "Categorias")">Ver Categorías</a>

        <a class="btn btn-success" href="@Url.Action("Index", "Libros")">Ver Libros</a>
    </div>
</div>
